apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-atl5
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-atl5
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-atl5
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-atl5
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-atl5
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-scnr-tenant/rhtap-demo-app/hacbs-test-project-atl5@sha256:8c7de999a014fd44477b24b134f71eb84f7a6a031587e716d4cf3b05ffe4b9c0
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
